@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: "JetBrains Mono", monospace;
}

body{
    height: 100vh;
    background-color: #35476B
}

header{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

nav {
   margin-top: 20px;
}

nav a {
    padding-left: 10px;
    text-decoration: none;
    color: white;
    font-size: 0.7em;
}

nav a:hover{
    text-decoration: underline;
    color: #3D8FC6;
}

/*sobre mim*/
section.container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

div.foto img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

div.texto{
    color: white;
    font-size: 0.8em;
    margin-top: 80px;
}

div.texto span{
    color: #131E34;
}

/*skills*/
/*skills*/
.container_principal_skills{/*container dentro do principal , que bota os itens em coluna*/
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_skills{/*apenas icones*/
    margin-top: 30px;
    display: flex;
    gap: 20px;
}

.container_skills i{/*apenas tamanho do icone*/
    font-size: 30px;
}

.texto_skills{/*texto de skills*/
    font-size: 1.7em;
    color: white;
}

/*projetos*/
.container_projetos{
    display: flex;
    gap: 30px;
    justify-content: center;
    height: 700px;
    align-items: center;
}
.projeto1{
    background-image: url(img/projeto.png);
    background-position: center;
    height: 300px;
    width: 400px;
    border-radius: 15px;
}
.projeto2{
    background-image: url(img/projeto\ 2.png);
    background-position: center;
    height: 300px;
    width: 400px;
    border-radius: 15px;
}
.projeto3{
    background-image: url(img/Screenshot_1.png);
    background-position: center;
    height: 300px;
    width: 400px;
    border-radius: 15px;
}
.botao{
    margin-top: 5px;
    display: flex;
    gap: 10px;
}
.botao button{
    width: 35%;
    padding: 5px;
}
.botao button:hover{
    background-color: #35476B;
    color: white;
}

form {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.input_grupo {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input, 
textarea {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
}

input:focus, 
textarea:focus {
    outline: none;
    border-color: #00714E;
    box-shadow: 0 0 4px #00714d71;
}

textarea {
    min-height: 100px;
    resize: vertical;
}
/* Firefox (uncomment to work in Firefox, although other properties will not work!)  */
/** {
  scrollbar-width: thin;
  scrollbar-color: #3D8FC6 #35476B;
}*/

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    height: 8px;
    width: 8px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #35476B;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #35476B;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #35476B;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #3D8FC6;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #3D8FC6;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #3D8FC6;
  }
  



footer{
    background-color: #131E34;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
}

.container_icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.texto_footer{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 25px;
    color: white;
}

footer i{
    color: white;
    font-size: 50px;
}

.img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;

}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top:30px;
    }
}